.137_7 { 
	overflow:hidden;
}
.e137_7 { 
	background-color:rgba(175.00000476837158, 213.00000250339508, 240.00000089406967, 1);
	width:360px;
	height:800px;
	position:absolute;
}
.e191_2 { 
	width:360px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/backround.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e137_16 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:18px;
	position:absolute;
	left:-4px;
	top:500px;
	font-family:Alata;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e137_14 { 
	background-color:rgba(133.57838183641434, 224.18749898672104, 169.82203781604767, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:111px;
	top:432px;
}
.e137_9 { 
	background-color:rgba(133.57838183641434, 224.18749898672104, 169.82203781604767, 1);
	width:290px;
	height:46px;
	position:absolute;
	left:35px;
	top:362px;
}
.e137_8 { 
	background-color:rgba(133.57838183641434, 224.18749898672104, 169.82203781604767, 1);
	width:290px;
	height:46px;
	position:absolute;
	left:35px;
	top:287px;
}
.e137_15 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:21px;
	position:absolute;
	left:137px;
	top:437px;
	font-family:Alata;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e137_11 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:31px;
	position:absolute;
	left:-40px;
	top:-75px;
	font-family:Alata;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e137_10 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:29px;
	position:absolute;
	left:-80px;
	top:-150px;
	font-family:Alata;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e137_18 { 
	width:245px;
	height:29px;
	position:absolute;
	left:-84px;
	top:-135px;
}
.e137_19 { 
	width:245px;
	height:29px;
	position:absolute;
	left:-84px;
	top:-60px;
}
.e137_13 { 
	color:rgba(255, 255, 255, 1);
	width:202px;
	height:18px;
	position:absolute;
	left:-120px;
	top:-180px;
	font-family:Alata;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e137_12 { 
	color:rgba(255, 255, 255, 1);
	width:193px;
	height:53px;
	position:absolute;
	left:-50px;
	top:-300px;
	font-family:Spicy Rice;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e200_4 { 
	width:136px;
	height:113px;
	position:absolute;
	left:-18px;
	top:-430px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e137_17 { 
	width:46.66666793823242px;
	height:35px;
	position:absolute;
	left:0px;
	top:8px;
	background-image:url(images/back.png);
	background-repeat:no-repeat;
	background-size:cover;
}
